<nav class="blue-grey">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo center">Quiz</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a  (click)="logOut()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
